body {
  background-color: whitesmoke;
  color: #2f4f4f;
  font-size: 30px;
  line-height: 1.5;
  margin: 0;
}
h1 {
  font-size: 150px;
  text-align: center;
  font-family: "Signika", sans-serif;
}

h2 {
  text-align: center;
  font-family: "Signika", sans-serif;
  font-size: 50px;
}
.foto-hlavicka {
  width: 30%;
  border: 2px dashed #808080;
  margin-left: 25px;
}
a {
  color: #696969;
  text-align: center;
  font-family: "Mandali", sans-serif;
}
.menu {
  background-color: #f3ecd0;
  border-bottom: dashed #d2b48c;
  border-top: dashed #d2b48c;
  text-align: center;
}
.menu li {
  display: inline-block;
  padding: 20px;
}
.menu a {
  color: #696969;
  font-size: 30px;
}
.menu a:hover,
.menu a:focus,
.menu a:active {
  background-color: #deb887;
  padding: 1px;
}
.hobby {
  margin-left: auto;
  margin-right: auto;
}
td {
  padding: 12px;
  text-align: left;
  border-bottom: 3px dashed #f4a460;
}

.Michaela,
.Dovednosti,
.paticka,
.Zajmy {
  background-color: #f3ecd0;
  border-bottom: dashed #d2b48c;
  border-top: dashed #d2b48c;
}

section {
  font-family: "Mandali", sans-serif;
  text-align: center;
  padding: 35px;
  margin: 0;
}

.paticka {
  padding: 20px;
  text-align: center;
  font-size: 15px;
}